.a1{
  padding: 30px;
}
.a1 p{
  padding-bottom: 10px;
}
.a1 a{
  text-decoration: underline;
}
.a1 a:hover{
  color: #81b3f5;
  
}
.zone_pad10px{
  padding: 10px;
}
p.author{
  font-size: 1.8em;
}
.content img {
  vertical-align: text-bottom;
  width: 20px;
}