article, aside, details, figcaption, figure, header, hgroup, menu, nav, section {
  display: block;
}
section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
* {
  margin: 0px;
  padding: 0px;
}
a {
  color: #000000;
  text-decoration: underline;
}
a:hover {
  color: #439fdb;
  text-decoration: underline;
}
a:active {
  color: #435fdb;
}
.pc_area {
  display: block;
}
.phone_area {
  display: none;
}
.ie_Only {
  display: none;
}
body {
  display: flex;
  flex-direction: column;
  margin: auto;
  flex: 3;
  max-width: 960px;
  font-family: "ＭＳ Ｐゴシック", "MS PGothic", "メイリオ", Meiryo, Osaka, sans-serif;
  background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 10px, #e9edff 10px, #e9edff 20px);
  background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 10px, #e9edff 10px, #e9edff 20px);
  /* background:repeating-linear-gradient(135deg, #EFEFEF 0px, #EFEFEF 20px, #D9D9D9 20px, #D9D9D9 40px); */
}
.pageTitle {
  /* 
    おしゃれなボックスデザイン
    https://saruwakakun.com/html-css/reference/box
  */
  padding: 0.5em 1em;
  max-width: 40%;
  text-align: left;
  color: #FFF;
}
.pageTitle p {
  text-align: left;
  margin: 0;
  padding: 0;
}
.grovalNavigation {
  /* width: 100%;
  height: 120px;
  background-color: #888;
  color: #fff; */
  background: -moz-linear-gradient( #707eff,#bff2ff);
  background: -webkit-linear-gradient( #707eff,#bff2ff);
  background: linear-gradient(to right, #707eff,#bff2ff);
  color: #FFF;
}
.grovalNavigation p {
  text-align: left;
  height: 100%;
  padding: 45px;
  padding-right: 25px;
  font-size: 1.8em;
}
main {
  min-height: 100vh;
  display: flex;
  /* margin-bottom: 10px; */
  width: auto;
}
.content {
  flex: 1;
  order: 3;
  background-color: #eee;
  text-align: center;
  min-height: 100vh;
  width: 100%;
  padding: 30px;
}
.content .marginOn {
  padding: 15px;
}
article {
  display: flex;
  order: 66;
  width: 100%;
}

/* ローカルナビゲーション関連 */

.localNavigation {
  order: 2;
  width: 200px;
  min-height: 100vh;
  height: 100%;
  text-align: center;
  background-color: #888;
  color: #fff;
  border-right: solid;
  border-color: #555555;
}
.localNavigation ul {
  margin: 0;
  padding: 0;
}
.localNavigation li {
  list-style: none;
}
.localNavigation li a {
  /* メニューのリストの設定 */
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  font-size: 1.1em;
}
.localNavigation li a:hover {
  background-color: #439fdb;
}
.lclNavBox {
  /* メニューの一番上 */
  display: table;
  background-color: #81f591;
  z-index: 19999;
  /*最前面に*/
  width: 100%;
  height: 80px;
}
.lclNavBox p {
  display: table-cell;
  vertical-align: middle;
  font-size: 1.2em;
  text-align: center;
  color: #000000;
}
#nav-close {
  display: none;
  /*はじめは隠しておく*/
  position: fixed;
  z-index: -1;
  top: 0;
  /*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}
#cp_toggle01:checked~#nav-close {
  display: block;
  /*カバーを表示*/
  opacity: .5;
}
#cp_toggle02:checked~#nav-close {
  display: none;
  /*カバーを表示*/
  opacity: 0;
}

/*チェックボックス等は非表示に*/

.nav-unshown {
  display: none;
}

/*
  クリックすると右からメニューが出てくる
  （他サイトのコードとミックス）
  https://copypet.jp/codedescription/2004/
*/

*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ol, ul {
  list-style: none;
}
nav a {
  text-decoration: none;
  color: inherit;
}
.cp_offcm01 {
  /* メニューアイコンの位置（余白調整） */
  position: absolute;
  top: 30px;
  left: 20px;
  display: inline-block;
}

/* menu */

.cp_offcm01 .cp_menu {
  /* 横から出るボックスの設定 */
  position: fixed;
  top: 0;
  left: -100vw;
  width: 250px;
  height: 100%;
  /* cursor: pointer; */
  -webkit-transition: 0.53s transform;
  transition: 0.53s transform;
  background-color: #888;
  opacity: 1.0;
}
.cp_offcm01 .cp_menu ul {
  margin: 0;
  padding: 0;
}
.cp_offcm01 .cp_menu li {
  list-style: none;
}
.cp_offcm01 .cp_menu li a {
  /* メニューのリストの設定 */
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
.cp_offcm01 #cp_toggle01 {
  position: absolute;
  display: none;
  opacity: 0;
}
.cp_offcm01 #cp_toggle01:checked~.cp_menu {
  -webkit-transform: translateX(100vw);
  transform: translateX(100vw);
}
.navbox {
  /* メニューの一番上 */
  display: table;
  background-color: #81f591;
  z-index: 19999;
  /*最前面に*/
  width: 100%;
  height: 80px;
}
.navbox p {
  display: table-cell;
  vertical-align: middle;
  font-size: 1.2em;
  text-align: center;
}

/* メニューボタン*/

.cp_offcm01 label {
  /* メニューボタンの大きさ */
  display: table;
  width: 60px;
  height: 60px;
  background-color: #ccddf1;
  color: #333333;
  text-align: center;
}
.cp_offcm01 label:hover {
  background-color: #3d8eeb;
}
.cp_offcm01 #cp_toggle01~label {
  display: block;
  padding: 0.5em;
  cursor: pointer;
  text-align: center;
  color: #333333;
  /* border-radius: 15px; */
}
.cp_offcm01 #cp_toggle01:checked~label {
  z-index: 0;
  border: none;
  border-radius: 0px;
}
label>p {
  display: table-cell;
  text-align: center;
  right: 2px;
  position: relative;
  margin-top: 10px;
  font-size: 1.2em;
}
hr {
  color: #a8a8a8;
  background-color: #a8a8a8;
  border: 0;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 1px;
  width: 80%;
}

/*フッター*/

footer {
  clear: both;
  height: 20px;
  text-align: center;
  font-size: 0.85em;
  border: 1px solid transparent;
  background-color: #b9ddfd;
}
footer img {
  vertical-align: text-bottom;
  width: 20px;
}
footer a:hover {
  color: #81b3f5;
  text-decoration: underline;
}

/*
  パンくずリストとは？
  https://saruwakakun.com/html-css/basic/breadcrumb#section1
*/

.breadcrumbs {
  padding-left: 10px;
  margin-left: 0;
  background-color: #696969;
  height: auto;
}
.breadcrumbs li {
  display: inline;
  /*横に並ぶように*/
  list-style: none;
  font-weight: bold;
  color: #fafafa;
}
.breadcrumbs li:after {
  /* >を表示*/
  content: '>';
  padding: 0 3px;
  color: #ffffff;
}
.breadcrumbs li:last-child:after {
  content: '';
}
.breadcrumbs li a {
  text-decoration: none;
  color: #d6d6d6;
  /*色*/
}
.breadcrumbs li a:hover {
  color: #b9e4fd;
  text-decoration: underline;
}

/*-- スマホ版表示CSS  --*/

@media screen and (max-width: 768px) {
  .pc_area {
    display: none;
  }
  .phone_area {
    display: block;
  }
  main {
    margin-top: 0px;
  }
  .grovalNavigation p {
    text-align: right;
    font-size: 1.2em;
    margin-left: 30px;
  }
  .content {
    order: 0;
    padding: 10px;
  }
  article {
    order: 0;
  }
  footer {
    height: 40px;
  }
  /* IE11 */
  _:-ms-lang(x)::-ms-backdrop, .phone_area {
    display: none;
  }
  _:-ms-lang(x)::-ms-backdrop, .grovalNavigation p {
    text-align: left;
    font-size: 1.4em;
  }
  _:-ms-lang(x)::-ms-backdrop, .localNavigation {
    display: none;
  }
}
_:-ms-lang(x)::-ms-backdrop, .ie_Only {
  display: block;
}
_:-ms-lang(x)::-ms-backdrop, section {
  display: block;
}