/* override */
.breadcrumbs {
  /* height: 1.2em; */
  height: 10px;
}

.a1{
  padding: 30px;
}
.a1 p{
  padding-bottom: 10px;
}
.a1 a{
  text-decoration: underline;
}
.a1 a:hover{
  color: #81b3f5;
  
}
.zone_pad10px{
  padding: 10px;
}
p.author{
  font-size: 1.2em;
  padding-bottom: 30px;
}

/*
  スライドショー
  https://lopan.jp/css-animation-slideshow/
*/
.slideContents {
  position: relative;
  background: #3d95c9;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 80%;
  overflow:hidden;
}
.slideContents section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.slideContents section img {
  max-width: 100%;
  padding: 0 50px;
  box-sizing: border-box;
  vertical-align: middle;
  /* object-fit: cover; */
}

/* :::::: mechanism :::::: */

.slideContents #slide1 {
  position: relative;
}
.slideContents section {
  animation: autoplay 30s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}
@keyframes autoplay {
  0%, 16%, 100% {
    transform: none;
  }
  20% {
    transform: translateX(-100%);
  }
  20.001%, 96% {
    transform: translateX(100%);
  }
}
.slideContents #slide1 {
  animation-delay: 0s;
}
.slideContents #slide2 {
  animation-delay: -24s;
}
.slideContents #slide3 {
  animation-delay: -18s;
}
.slideContents #slide4 {
  animation-delay: -12s;
}
.slideContents #slide5 {
  animation-delay: -6s;
}
/* 
  ブラウザ別に適用させるCSSハック2018
  https://kuroko-role.co.jp/css-html/browser-hack2018/
*/
/* IE11 */
_:-ms-lang(x)::-ms-backdrop,
.slideshow {
    display: none;
}
.redAndPad10{
  font-size: 1.1em;
  color: #df2b2b;
  padding: 10px;
}