.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
.linkBox{
  border: 2px solid #0094D6;
  text-align: left;
  margin: auto;
  margin-top: 20px;
  width: 80%;
  background-color: #fffbf2;
  overflow: hidden;
}
.linkBox .ltitle{
  font-size: 1.0em;
  background: #0094D6;
  color: #FFF;
  margin: 0;
  padding: .3em;
  
}
.linkBox .inner{
  /* 
    CSSでノート風の罫線を作る方法
    https://www.design-memo.com/coding/css-note
  */
  background: linear-gradient(#ccc 1px, transparent 1px) rgba(255, 251, 242, 0);
  background-size: auto 1.5em;
  line-height: 1.5em;
  overflow: hidden;
  margin-left: 4px;
  margin-right: 4px;
}
.ltitle a{
  color: rgb(255, 255, 255);
  /* https://qiita.com/riritachibana/items/8088ac4ae1c7819c8c5d */
  word-break: break-all;
}
.ltitle a:hover {
  color: #78ee88;
  text-decoration: underline;
}
.ltitle a:active {
  color: #48db43;
}