article, aside, details, figcaption, figure, header, hgroup, menu, nav, section {
  display: block;
}
* {
  margin: 0px;
  padding: 0px;
}
.pc_area {
  display: block;
}
.phone_area {
  display: none;
}
body {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 960px;
}
.grovalNavigation {
  width: 100%;
  height: 120px;
  background-color: #888;
  color: #fff;
}
.grovalNavigation p{
  text-align: left;
  height: 100%;
  /* padding: 4%; */
  padding: 45px;
  padding-right: 15px;
  font-size: 1.8em;
}
main {
  min-height: 100vh;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  width: auto;
}
.content {
  flex: 1;
  background-color: #eee;
  text-align: center;
  min-height: 100vh;
}
.content .marginOn{
  padding: 15px;
}
/* ローカルナビゲーション関連 */
.localNavigation {
  width: 200px;
  min-height: 100vh;
  text-align: center;
  background-color: #888;
  color: #fff;
  border-right: solid;
  border-color: #555555;
}
.localNavigation ul {
	margin: 0;
	padding: 0;
}
.localNavigation li {
	list-style: none;
}
.localNavigation li a {
  /* メニューのリストの設定 */
	display: block;
	padding: 20px;
	text-decoration: none;
	color: #ffffff;
  border-bottom: 1px solid #ffffff;
  font-size: 1.1em;
}
.localNavigation li a:hover{
  background-color: #439fdb;
}
.lclNavBox{
  /* メニューの一番上 */
  display: table;
  background-color: #81f591;
  z-index: 19999;
  /*最前面に*/
  width: 100%;
  height: 80px;
}
.lclNavBox p{
  display: table-cell;
  vertical-align: middle;
  font-size: 1.2em;
  text-align: center;
  color: #000000;
}

#nav-close{
  display: none;
  /*はじめは隠しておく*/
  position: fixed;
  z-index: -1;
  top: 0;
  /*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

#cp_toggle01:checked~#nav-close {
  display: block;
  /*カバーを表示*/
  opacity: .5;
}

#cp_toggle02:checked~#nav-close {
  display: none;
  /*カバーを表示*/
  opacity: 0;
}
/*チェックボックス等は非表示に*/

.nav-unshown {
  display: none;
}
/*
  スライドショー
  https://lopan.jp/css-animation-slideshow/
*/
.slideContents {
  position: relative;
  background: #3d95c9;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 80%;
  overflow:hidden;
}
.slideContents section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.slideContents section img {
  max-width: 100%;
  padding: 0 50px;
  box-sizing: border-box;
  vertical-align: middle;
}

/* :::::: mechanism :::::: */

.slideContents #slide1 {
  position: relative;
}
.slideContents section {
  animation: autoplay 30s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}
@keyframes autoplay {
  0%, 16%, 100% {
    transform: none;
  }
  20% {
    transform: translateX(-100%);
  }
  20.001%, 96% {
    transform: translateX(100%);
  }
}
.slideContents #slide1 {
  animation-delay: 0s;
}
.slideContents #slide2 {
  animation-delay: -24s;
}
.slideContents #slide3 {
  animation-delay: -18s;
}
.slideContents #slide4 {
  animation-delay: -12s;
}
.slideContents #slide5 {
  animation-delay: -6s;
}

/*
  クリックすると右からメニューが出てくる
  https://copypet.jp/codedescription/2004/
*/

*, *:before, *:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}
.cp_offcm01 {
  /* メニューアイコンの位置（余白調整） */
	position: absolute;
	top: 30px;
  left: 20px;
	display: inline-block;
}
/* menu */
.cp_offcm01 .cp_menu {
  /* 横から出るボックスの設定 */
	position: fixed;
	top: 0;
	left: -100vw;
	width: 250px;
	height: 100%;
	/* cursor: pointer; */
	-webkit-transition: 0.53s transform;
	        transition: 0.53s transform;
	background-color: #888;
	opacity: 1.0;
}
.cp_offcm01 .cp_menu ul {
	margin: 0;
	padding: 0;
}
.cp_offcm01 .cp_menu li {
	list-style: none;
}
.cp_offcm01 .cp_menu li a {
  /* メニューのリストの設定 */
	display: block;
	padding: 20px;
	text-decoration: none;
	color: #ffffff;
	border-bottom: 1px solid #ffffff;
}
.cp_offcm01 #cp_toggle01 {
	position: absolute;
	display: none;
	opacity: 0;
}
.cp_offcm01 #cp_toggle01:checked ~ .cp_menu {
	-webkit-transform: translateX(100vw);
	        transform: translateX(100vw);
}
.navbox {
  /* メニューの一番上 */
  display: table;
  background-color: #81f591;
  z-index: 19999;
  /*最前面に*/
  width: 100%;
  height: 80px;
}
.navbox p {
  display: table-cell;
  vertical-align: middle;
  font-size: 1.5em;
  text-align: center;
}
/* メニューボタン*/
.cp_offcm01 label{
  /* メニューボタンの大きさ */
  display: table;
  width: 60px;
  height: 60px;
  background-color: #ccddf1;
  color: #333333;
  text-align: center;
}
.cp_offcm01 label:hover{
  background-color: #3d8eeb;
}
.cp_offcm01 #cp_toggle01 ~ label {
	display: block;
	padding: 0.5em;
  cursor: pointer;
	text-align: center;
  color: #333333;
  
  /* border-radius: 15px; */
}
.cp_offcm01 #cp_toggle01:checked ~ label {
  z-index: 0;
  border: none;
  border-radius: 0px;
}
label > p{
  display: table-cell;
  position: relative;
  left: -3px;
  margin-top: 10px;
  font-size: 1.2em;
}

/*フッター*/
footer {
  clear: both;
  height: 20px;
  text-align: center;
  font-size: 0.85em;
  border: 1px solid transparent;
  background-color: #dddddd;
}
hr{
  color:#a8a8a8; 
  background-color:#a8a8a8; 
  border: 0;
  margin: auto;
  height:1px;
  width: 80%;
}
.topimage img{
  max-width: 100%;
  padding: 15px;
}

/*-- スマホ版表示CSS  --*/

@media screen and (max-width: 768px) {
  .pc_area {
    display: none;
  }
  .phone_area {
    display: block;
  }
  main {
    margin-top: 0px;
  }
  .grovalNavigation p{
    text-align: right;
    font-size: 1.4em;
    margin-left: 30px;
  }
}