article, aside, details, figcaption, figure, header, hgroup, menu, nav, section {
  display: block;
}
* {
  margin: 0px;
  padding: 0px;
}
.pc_area {
  display: block;
}
.phone_area {
  display: none;
}
body {
  display: flex;
  flex-direction: column;
}
.grovalNavigation {
  height: 70px;
  text-align: center;
  background-color: #888;
  color: #fff;
}
main {
  min-height: 100vh;
  display: flex;
  margin-top: 10px;
}
.content {
  flex: 1;
  background-color: #eee;
  text-align: center;
  height: 700px;
}
.localNavigation {
  width: 300px;
  height: 700px;
  text-align: center;
  background-color: #888;
  color: #fff;
}
/* 
  ドロップダウンメニューの作り方
  https://pc.chomemo.com/website/parts/drop_down_menu.php
*/
.nav_menubar ul {
  list-style-type: none;
  /* リストマークなし */
  padding: 0;
  /* リストマークの余白なし */
}
.nav_menubar {
  display: none;
}
.menubar {
  display: flex;
  /* 要素をFlexboxに定義 */
  justify-content: space-between;
  /* 左寄せ配置 */
  text-align: center;
  /* テキストを中央寄せ */
}
.menubar li {
  position: relative;
  /* ボックスの配置基準 */
  z-index: 1;
  /* 前面に描画 */
  min-width: 100px;
  /* 親メニューの最小横幅 */
}
.menubar a {
  display: block;
  /* 要素をブロックに定義 */
  text-decoration: none;
  /* リンク下線なし */
  background-color: #FFEBCD;
  /* 背景色 */
  color: #696969;
  /* テキスト色 */
  padding: 10px;
  /* 余白 */
}
.menubar a:hover {
  background-color: #DEB887;
  /* リンク選択時の背景色 */
}
.menubar li ul {
  /* 子メニュー */
  position: absolute;
  /* ボックスの配置基準 */
  top: 100%;
  /* 親メニュー上部からの表示位置 */
  left: 0;
  /* 親メニュー左端からの表示位置 */
  width: 100%;
  /* 親メニュー幅に合わせる */
}
.menubar li ul {
  visibility: hidden;
  opacity: 0;
 transition: .0s ease-in-out;
}
.menubar li:hover > ul {
  visibility: visible;
  opacity: 1;
}
.menubar li ul li ul {
  top: 0;/* 子メニュー上部からの表示位置 */
  left: 100%;/* 子メニュー左端からの表示位置 */
}
.menubar li:last-child ul li ul {/* 親メニュー最後のリストの孫表示は左側に表示 */
  left: -100%;
}
footer {
  clear:both;
  height:80px;
  text-align:center;
  font-size:0.85em;
}

/*-- スマホ版表示CSS  --*/

@media screen and (max-width: 768px) {
  .pc_area {
    display: none;
  }
  .phone_area {
    display: block;
  }
  .nav_menubar {
    display: block;
  }
  .localNavigation {
    display: none;
  }
  main {
    margin-top: 0px;
  }
}